@import '../vars';

@media screen and (min-width: 300px) {

  .container {
    max-width: 85%;
    margin: auto auto;
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .target {
    @include target;

    a {
      @include boton_blanco;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.3rem;
    }

  }

  .target:first-child {
    background-image: url("https://i.ibb.co/x54TFQ0/lava.png");
  }

  .target:last-child {
    background-image: url("https://i.ibb.co/smqQWmR/elefante.png");
  }

  .ecuaciones {
    @include section;
    margin-top: 40px;

    h2 {
      @include tema;
    }
  }
}

@media screen and (min-width:850px) {
  .targets_container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
}

