@import 'variables';




@media screen and (min-width:375px) {
    
    .container{
        max-width: 85%;
        margin: auto auto;
        overflow: hidden;
    
}

    header {

        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);

        .bar_navegation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 30px;

            .logo {
                font-size: 1.8rem;
                font-weight: 800;
                color: $dark
            }

            nav {
                ul {
                    display: flex;

                    li {
                        margin-left: 2rem;
                    }

                    a {
                        font-size: 1.3rem;
                        color: $dark;
                        font-weight: 300;
                    }
                }
            }

        }

        .cont_header {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;

            .img_header {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    animation: img 60s infinite linear;
                    border-radius: 500px;

                }

                @keyframes img {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(359deg);
                    }
                }



            }


            .text_header {
                text-align: center;
                ;

                h1 {
                    font-size: 3.5rem;
                    color: $dark
                }

                p {
                    font-size: 1.5rem;
                    margin-top: 2rem;
                }

                a {
                    @include boton;
                }
            }
        }
    }

}

@media screen and (min-width:490px) {
    header {
        .cont_header {
            .img_header {
                img {
                    width: 400px;
                }
            }
        }
    }
}

@media screen and (min-width:850px) {
    header {
        .cont_header {
            display: grid;
            grid-template-columns: repeat(2, 40% 60%);
            align-items: center;

            .text_header {
                text-align: left;
                a{
                    width: 300px;
                }
            }

            .img_header {
                display: flex;
                justify-content: end;

                img {
                    width: 80%;
                }

            }
        }



    }
}

@media screen and (min-width:1200px) {
     header{
        .cont_header{
            .img_header{
                width: 70%;
                margin: auto auto;
                img{
                    width: 100%;
                }
            }
        }
     }
}