@import '../variables.scss';

@media screen and (min-width: 375px){
  .container {
    max-width: 85%;
    margin: auto auto;
     overflow: hidden;
}

header {
    height: 100vh;


    .bar_navegation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3rem;

        .logo {
            font-size: 1.8rem;
            font-weight: 800;
            color: $dark
        }

        nav {
                ul {
                display: flex;

                li {
                    margin-left: 2rem;
                }

                a {
                    font-size: 1.3rem;
                    color: $dark;
                    font-weight: 300;
                }
            }
        }

    }
}}


