@import '../index_sass/variables.scss';

.container{
    max-width: 85%;
    margin: auto auto;
    overflow: hidden;
}

header{
    position:fixed;
    width: 100%;
    z-index: 100;
   .bar_navegation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    
    
    .logo {
        font-size: 1.8rem;
        font-weight: 800;
        color: $bg;
    }

    nav {
        ul {
            display: flex;

            li {
                margin-left: 2rem;
            }

            a {
                font-size: 1.3rem;
                color: $bg;
                font-weight: 300;
            }
        }
          
    }
    
   }
   
}

.cont_exp{
    display: flex;
    flex-direction: column-reverse;
    
    .img_exp{
        width: 100%;
       
        img{
            width: 100%;
            height:300px;
            object-fit: cover;
            filter: saturate(0);
        }
    }
}

.text_exp{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    padding-top: 30px;
  

    h1{
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p{
        font-size: 1.6rem;
        line-height: 2.5rem;
        
    }

    a{
        @include boton;
    }
}

@media screen and (min-width:716px){
    .cont_exp{
        display: grid;
        grid-template-columns: repeat(2,60% 40%);
        
        .img_exp{
            width: 100%;
            height: 100vh;
            padding-top: 0px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }

    .text_exp{
        padding: 30px;
    }

    header{
        .bar_navegation{
            .logo{
                color: $dark;
            }
        }
    }
    
}




@media screen and (min-width:950px) {
     .text_balanceo{
        height: 55vh;
        text-align: center;
        align-items: center;
        width: 70%;
        // margin: auto auto;
     a{
        width: 300px;
     }
     }

}