@import '../index_sass/variables.scss';

@media screen and (min-width:375px){
    .target{
        @include target;
        a{
            @include boton_Blanco;
        }
        h3{
            font-size: 2rem;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.3rem;
        }
    
    }
    
    .a{
        background-image: url(https://i.ibb.co/pWqjtvv/sect-A-1.png);
    }
    
    .b{
        background-image: url(https://i.ibb.co/6WCtM1N/sect-B-1.png);
    }
    
    .ecuaciones{
        @include section;
        margin-top: 40px;
        h2{
            @include tema;
        }
    }
}

@media screen and (min-width:850px){
     .targets_container{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
     }       
}