@import '../index_sass/variables.scss';

@media screen and (min-width:375px){
    .target{
        @include target_bg;
        a{
            @include boton_Blanco;
        }
        h3{
            font-size: 2rem;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.3rem;
        }

        .text_target{
            width: 95%;
            margin: auto;
        }

    }

    .a{
        background-image: url(https://i.ibb.co/x54TFQ0/lava.png);
    }

    .b{
        background-image: url(https://i.ibb.co/smqQWmR/elefante.png);
    }
    // .c{
    //     background-image: url(https://i.ibb.co/m6cfH8W/mamba.png);
    // }

    .ecuaciones{
        @include section;
        margin-top: 40px;
        h2{
            @include tema;
        }
    }
}

@media screen and (min-width:850px){
     .targets_container{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;

        .text_target{
            width: 95%;
            margin: auto;
        }
     }
}