// Colors

$bg-white: #EFF0F2
$dark: #171717
$gray-text: #696969

// Fonts

$sm: 1.4rem

// Font-weight

$regular: 300
$heavy: 800

// Mixins

@mixin button()
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  min-width: 288px
  width: 100%
  border-radius: 8px
  border: none
  margin-top: 20px

  a
    width: 100%
    color: $bg-white
    letter-spacing: 3px
    padding: 20px 30px

@mixin white-button()
  display: flex
  justify-content: center
  background-color: $bg-white
  border-radius: 8px
  border: none
  margin-top: 20px
  text-align: center

  a
    width: 100%
    padding: 20px 30px
    color: $gray-text
    letter-spacing: 0.3rem
    font-size: 1.2rem

@mixin title()
   font-size: 2rem
   color: $dark
   margin-bottom: 20px
   text-transform: uppercase

@mixin section()
    margin-bottom: 60px
    height: 100%

@mixin target()
  width: 100%
  height: 275px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 10px
  margin-bottom: 30px
  padding: 35px
  color: $bg-white


@mixin footer-navbar()
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
  color: $gray-text
