@import 'vars'

.Header
  display: flex
  justify-content: center
  align-items: center
  height: 10vh
  min-width: 320px

.Nav
  display: flex
  justify-content: space-between
  width: 85%

  .logo
    font-size: 1.8rem
    font-weight: $heavy
    color: $dark

  a
    color: $dark
    font-size: $sm

  ul
    display: flex
    gap: 20px

